body,
html {
  margin: 0;
  padding: 0;
}

.sidebar {
  margin-top: 20px;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background-color: #282424;
  z-index: -1;
  color: white;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

select option {
  height: 100%;
  background-color: #555;
  color: white;
}

select:focus {
  outline: none;
}

.mainButton {
  width: 100%;
  color: white;
  font-size: xx-large;
  background-color: transparent;
  border: none;
}

.mainButton:hover {
  color: white;
}

button {
  width: 100%;
  margin-top: 30px;
  font-size: larger;
  background-color: #48444c;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s ease;
  padding: 5px;
}

button:hover {
  color: orange;
}
