* {
  font-family: Arial, sans-serif;
}

footer {
  margin-bottom: -165px;
  z-index: 1;
}

.footer {
  width: 100%;
  background-color: #20123e;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 175px 175px 0px 0px;
  position: relative;
  max-height: 100vh;
}

.footer td {
  margin-top: 10px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 26px;
}

.footer i {
  font-size: 50px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
  justify-content: center;
}
