body,
html {
  margin: 0;
  padding: 0;
}

.sidebar {
  margin-top: 20px;
  width: 250px;
  height: 100vh;
  padding: 20px;
  background: linear-gradient(to bottom, #847c9b, white);
  z-index: -1;
  color: white;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer;
}

select option {
  height: 100%;
  background-color: #555;
  color: white;
}

select:focus {
  outline: none;
}

.options {
  display: none;
}

.mainButton {
  width: 100%;
  color: white;
  font-size: x-large;
  background-color: #20123e;
}

button {
  width: 100%;
  margin-top: 10px;
  font-size: larger;
  background-color: #40344c;
  color: white;
  cursor: pointer;
}
