body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 100px;
  max-width: 500px;
  position: relative;
  left: 550px;
  bottom: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.container a {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin: 10px;
  background-color: #847c9b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  color: #20123e;
  transition: all 0.5s ease;
  font-size: x-large;
}

.container a:hover {
  color: white;
  background-color: #20123e;
}

.container span {
  font-size: 5rem;
}
