* {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navBarItems {
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  align-items: center;
}

.logo {
  flex: 1;
}

.search {
  display: flex;
}
.search input[type="text"] {
  border: 1px solid black;
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}

.search span {
  position: relative;
  top: 5px;
  cursor: pointer;
}

.others {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 150px;
}

.others a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.call {
  position: relative;
  left: 22px;
  color: #147cdc;
  top: 20px;
}

#logoutText {
  position: relative;
  bottom: 6px;
}

#callText {
  color: #147cdc;
  font-size: 26px;
  position: relative;
  bottom: 2px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-size: 24px;
}
